/* Remove the left sidebar completely */
.sidebar,
.author-profile {
    display: none !important;
}

/* Make main content full width */
.page__content,
.layout--single .page__content {
    width: 100% !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}
