{% include base_path %}

<!-- HEADER & AUTHOR PROFILE -->
<div class="header-profile">
  {% include author-profile.html %}
</div>

<!-- MAIN CONTENT -->
<div id="main" role="main">

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- SEO meta -->
    {% if page.title %}
      <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.excerpt %}
      <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.date %}
      <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}
    {% if page.modified %}
      <meta itemprop="dateModified" content="{{ page.modified | date: "%Y-%m-%d" }}">
    {% endif %}

    <!-- PAGE TITLE -->
    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}
            <h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          {% endif %}
        </header>
      {% endunless %}

      <!-- PAGE BODY -->
      <section class="page__content" itemprop="text">
        {{ content }}

        <!-- CITATION / DOWNLOAD LINKS -->
        {% if page.citation or page.paperurl or page.slidesurl or page.bibtexurl %}
          <p style="font-size: smaller">
            {% if page.citation %}Recommended citation: {{ page.citation }}<br>{% endif %}
            {% if page.paperurl %}<a href="{{ page.paperurl }}" target="_blank">Download Paper</a>{% endif %}
            {% if page.slidesurl %} | <a href="{{ page.slidesurl }}" target="_blank">Slides</a>{% endif %}
            {% if page.bibtexurl %} | <a href="{{ page.bibtexurl }}" target="_blank">BibTeX</a>{% endif %}
          </p>
        {% endif %}
      </section>

      <!-- FOOTER / TAXONOMY -->
      <footer class="page__meta">
        {% include page__taxonomy.html %}
      </footer>

      <!-- SOCIAL SHARE -->
      {% if page.share %}
        {% include social-share.html %}
      {% endif %}

      <!-- POSTS (IF APPLICABLE) -->
      {% include post_pagination.html %}
    </div>

    <!-- COMMENTS (IF ENABLED) -->
    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}

  </article>

  <!-- RELATED POSTS (IF ANY) -->
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      <h4 class="page__related-title">You May Also Enjoy</h4>
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

</div>
